.en-idei-club-p-simple-backgrou-icon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home2,
.info1 {
  display: inline-block;
}
.home2 {
  text-decoration: none;
  position: relative;
  font-style: italic;
  font-weight: 800;
  color: inherit;
  min-width: 5.813rem;
  z-index: 1;
}
.info1 {
  min-width: 4.563rem;
}
.contact1,
.info1 {
  text-decoration: none;
  position: relative;
  font-weight: 800;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.contact-info,
.contact-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-info {
  margin: 0;
  gap: 0.906rem;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.contact-info-wrapper {
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.hey-im,
.jhon-anthony-claret1 {
  margin-left: -0.25rem;
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  mix-blend-mode: normal;
  z-index: 1;
}
.hey-im {
  white-space: pre-wrap;
}
.jhon-anthony-claret1 {
  color: var(--color-black);
  text-align: center;
}
.analyst-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 9.875rem 0;
  box-sizing: border-box;
  gap: 1.375rem;
  min-height: 20.875rem;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: #3430ff;
  font-family: var(--font-inter);
}
.data-analyst {
  margin-left: -1.75rem;
  width: 90rem;
  position: relative;
  display: inline-block;
  font-weight: 800;
  mix-blend-mode: normal;
  max-width: 102%;
  flex-shrink: 0;
  z-index: 1;
}
.education-is-the {
  margin: 0;
}
.education-is-the-container {
  align-self: stretch;
  position: relative;
  font-size: 40px;
  line-height: 100%;
  font-weight: 900;
  padding-right: 1.75rem;
  z-index: 1;
}
.analyst-info1,
.desktop-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.analyst-info1 {
  align-self: stretch;
  padding: 0 var(--padding-9xs) 0 var(--padding-5xl);
  gap: 2.25rem;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: var(--padding-28xl) 0 13.875rem;
  gap: 5.937rem;
  background-image: url(./public/1686657523-enideiclubpsimplebackgrounddizainpinterest1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .hey-im,
  .jhon-anthony-claret1 {
    font-size: var(--font-size-32xl);
  }
  .data-analyst {
    font-size: var(--font-size-7xl);
  }
  .education-is-the-container {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .desktop-1 {
    gap: 2.938rem;
  }
}
@media screen and (max-width: 675px) {
  .analyst-info1 {
    gap: 1.125rem;
  }
}
@media screen and (max-width: 450px) {
  .hey-im,
  .jhon-anthony-claret1 {
    font-size: var(--font-size-19xl);
  }
  .data-analyst {
    font-size: var(--font-size-lgi);
  }
  .education-is-the-container {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .desktop-1 {
    gap: 1.5rem;
  }
}
